.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  height: 35px;
  width: 400px;
  /* margin: 40px auto; */
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  background-color: azure;
  border: 2px solid rgb(50, 27, 27);
}

.dropdown-suggestions {
  height: 150px;
  width: 390px;
  margin: 2px auto;
  background-color: rgb(199, 237, 238);
  padding: 10px;
  font-size: 20px;
  overflow-y: auto;
}

.suggested-item {
  margin: 10px;
  text-align: left;
  padding: 2px;
  cursor: pointer;
}

.suggested-item:hover {
  background-color: rgb(253, 246, 246);
}

.bucket-element {
  display: flex;
  margin: 20px auto;
  justify-content: space-around;
  width: 400px;
  background-color: rgb(146, 211, 251);
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}

.bucket-element:hover {
  font-size: 25px;
}

.tick-icon,
.cancel-icon {
  cursor: pointer;
  border: none;
  background-color: rgb(146, 211, 251);
}

.tick-icon:hover,
.cancel-icon:hover {
  background-color: white;
  border-radius: 50%;
}

.item-completed {
  text-decoration: line-through;
}
